#product-detail-page
    display: flex
    justify-content: center
    padding: 20px 0px
.product-details-image 
    img
        height: 100%
        width: 500px
.product-details-info
    color: rgb(51, 51, 51)
.product-details-name
    font-size: 25px
    font-weight: 400
    padding-bottom: 10px
.product-details-price
    font-size: 35px
.product-details-description
    font-size: 15px
    color: rgb(136, 136, 136)
.product-details-quantity
    span
        color: rgb(51, 51, 51)
        font-size: 18px
        padding: 0px 10px
.quantity-button
    background-color: rgb(230, 230, 230)
    padding: 0px 5px
    border: solid 1px rgb(230, 230, 230)
#product-detail-add
    background-color: #222
    color: white
    text-transform: uppercase
    border-radius: 50px
    padding: 10px 55px
    margin: 10px 0 20px
    cursor: pointer