.product-card
    position: relative  
#card-hover
    visibility: none
    opacity: 0
    transition: opacity 0.5s
    height: 2px
    width: 100%
    button

.product-card
    &:hover
        #card-hover
            visibility: visible
            opacity: 1
    span
        position: absolute
        background-color: #66a8a6
        border-radius: 50px
        padding: 2px 10px
        margin: 10px
        color: white
        font-size: 12px

.btnContainer
    position: absolute
    bottom: 20px
    width: 100%
    display: flex
    justify-content: center

#addInCart
    color: white
    background-color: black
    border-radius: 20px
    padding: 10px 25px
    text-transform: uppercase
    font-size: 14px
    transition: opacity 0.5s
    bottom: 20px
    margin: auto


    &:hover
        background-color: #e65540
#heart
    position: absolute
    right: 10px
    top: 10px
    color: white
.products
    h5
        padding-top: 20px
        font-size: 15px
        font-weight: 400
        text-decoration: none
        color: rgb(86, 86, 86)
        &:hover
            color: #e65540 
    p
        font-size: 16px
        padding-bottom: 35px
        color: rgb(86, 86, 86)