.navbar
    padding: 30px
.navbar-nav
    padding-right: 50px
.active
    color: #e65540 !important
.nav-item
    a
        font-family: 'Montserrat', sans-serif
        font-size: 15px
        color: #222
        text-decoration: none
        padding: 0 15px
        &:hover
            color: #222
            text-decoration: underline 
.nav-buttons
    a
        color: rgb(200, 200, 200)
        font-size: 20px
        padding: 0 15px
#cart
    position: relative
    &::after
        content: ''
        height: 60%
        width: .5px
        position: absolute
        left: 0
        top: 30%
        background: rgb(200, 200, 200)
button
    border: none
    background-color: transparent