*
    font-family: 'Montserrat', sans-serif
a
    color: black
    font-size: xx-small
    text-decoration: none

.carousel
    //height: 100vw
.carousel-control-prev
    opacity: 0
    &:hover
        opacity: 1
.carousel-control-next
    opacity: 0
    &:hover
        opacity: 1
.carousel-item
    .carousel-caption
        h1
            text-transform: uppercase
            padding-bottom: 10px
            span
                border-bottom: 3px solid white
                font-family: 'Poppins', sans-serif
                font-size: 50px
        p
            font-size: 18px
            padding-bottom: 20px
        button
            border-radius: 30px
            padding: 1.5% 5%
            font-size: 16px
#watch
    object-fit: cover
#sunglasses 
    object-fit: cover
#ComingSoon,#OurProducts
    display: flex
    justify-content: center
    h2
        text-transform: uppercase
        font-weight: bold
        font-size: 30px
    ul
        display: flex
        justify-content: center
        li
            cursor: pointer
            margin: 0% 2%
            list-style-type: none
            color: gray
            &:hover
                text-decoration: underline
    .ComingSoonItems 
        position: relative
        display: flex
        justify-content: center
        button
            position: absolute
            bottom: 3%
            padding: 10px 20px
            margin-bottom: 10px

.product-row
    .col-12
        a
            list-style-type: none

#HomeBanner
    background-image: url("../../../images/Home/banner-home.jpg")
    background-size: cover
    height: 100vw
    display: flex
    align-items: center
    background-attachment: fixed
    letter-spacing: 2px
    h2
        font-weight: 700
        font-size: 20px
        span
            font-family: 'Poppins', sans-serif
            font-size: 35px
    p
        padding-top: 10px
