.carousel-item
    .carousel-caption
        h1
            text-transform: uppercase
            text-decoration: underline
        button
            border-radius: 30px
            padding: 1% 5%

#ComingSoon,#OurProducts
    display: flex
    justify-content: center
    h2
        text-transform: uppercase
    ul
        display: flex
        justify-content: center
        li
            cursor: pointer
            margin: 0% 2%
            list-style-type: none
            color: gray
        li:active
            text-decoration: underline
    .col-4
        position: relative
        display: flex
        justify-content: center
        button
            position: absolute
            bottom: 3%
        h5,p
            color: gray

#HomeBanner
    background-image: url("../../../images/Home/banner-home.jpg")
    background-size: cover
    height: 30vw
    display: flex
    align-items: center