#SaleItemsBanner
    background-color: #F0F0F0
    color: rgb(136, 136, 136)
    top: 0
    z-index: 999
    position: absolute
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    p
        margin: 0
        font-size: 12px
        padding: 3px
    
#ProductsBanner
    color: white
    display: flex
    justify-content: center
    align-items: center
    background-image: url("../../../images/Product/banner-product.jpg.webp")
    height: 20vw
    background-size: cover
    h1
        text-transform: uppercase
        font-family: 'Montserrat', sans-serif
        font-weight: bold
        font-size: 35px
    p
        font-size: 14px

#ProductsBody
    padding-bottom: 50px
    .categories
        h3     
            font-family: 'Poppins', sans-serif
            font-size: 20px
            padding-bottom: 5px
        ul
            list-style: none
            padding-left: 0
            font-size: 12px
            padding-bottom: 20px
            li
                padding-bottom: 5px
    .filters
        padding-bottom: 30px
        h3     
            font-family: 'Poppins', sans-serif
            font-size: 20px
            padding-bottom: 5px
        input
            font-size: 12px
            padding: 0
            &:focus
                outline: none
        button
            font-size: 12px
            padding-right: 0

    .products
        a
            text-decoration: none
            color: gray 
            display: flex